process {
    cpus = 2
    memory = '4 GB'
    time = '1h'

    withLabel: fastqc {
        container = 'quay.io/biocontainers/fastqc@sha256:e194048df39c3145d9b4e0a14f4da20b59d59250465b6f2a9cb698445fd45900'
        cpus = 2
    }

    withLabel: multiqc {
        container = 'quay.io/biocontainers/multiqc@sha256:dfd9fde2c48b896b884e79a71ddc16c72c97a0ee5c5c8e45aaba50f55d07d263'
        cpus = 1
        memory = '4 GB'
    }

    withLabel: cutadapt {
        container = 'quay.io/biocontainers/cutadapt@sha256:c96a44c18f58660e853652c7efb303b3f426aa12f1ee7af007d03a54c39b87a5'
        cpus = 4
    }

    withLabel: kallisto {
        container = 'quay.io/biocontainers/kallisto@sha256:6cc553ca3fd6e720dbae2b8825e8eb8677e155a3eb031bd30c103b2fadeec699'
        cpus = 4
        memory = '8 GB'
    }

    withLabel: analysis {
        container = 'missus-tom/rnaseq-analysis:0.3.0'
        cpus = 4
        memory = '16 GB'
        time = '4h'
    }
}
